body{
    background-color:azure
}
.ordenar{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
}
.centrarTitulo{
    text-align: center;
}
span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;

}

.botonPrev{
    background-color:yellowgreen;
    border-radius: 50px;
    border: 2px solid black;
    height: 40px;
    width: 150px;
    position: absolute;
    left:40%;
    top: 5%;

}
.botonNext{
    background-color:yellowgreen;
    border-radius: 50px;
    border: 2px solid black;
    height: 40px;
    width: 150px;
    position: absolute;
    left:50%;
    top: 5%;

}
.escribirNombre{
    position: absolute;
    height: 40px;
    width: 300px;
    left: 10%;
    border-radius: 50px;
    top: 5%;
}
.enviar{
    position: absolute;
    height: 40px;
    width: 150px;
    left: 30%;
    border-radius: 50px;
    top: 5%;
}